/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.container-large{
    max-width: 1200px;
    margin: 0 auto;
}

.container-smaller{
   max-width: 1000px;
   margin: 0 auto;
}

.row {
    display: flex;
}

.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Roboto", serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-primary {
    background-color: #0161fd;
    color: #fff;
    font-size: 20px;
}

.btn-secondary{
    background-color: #0161fd;
    color: #fff;
    font-size: 18px;
}

/*----------------
    HEADER
------------------*/
header {
    /*width: 1200px;*/
    position: sticky;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px 0;
    color: black;
    background-color: white;
    margin: 10px;
}

  header nav li{
    margin-right: 20px;
}

header nav{
    padding: 0.8rem 0;
    align-items: center;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

div.Logo > img{
    height: 40px;
}

ul{
    list-style-type: none;
}

/*----------------
      HERO
------------------*/
.hero{
    max-height: 700px;
    background-color: #b4d0e6;
    width: 100%;
    color: black;
    display: flex;
    position: relative;
}

.container-hero{
    display: flex;
    padding-top: 50px;
    font-size:20px;
    line-height: 22px;
}

.col-left{
    width: 30%;
}

.col-right{
    width: 70%;
    position: relative;
}

.col-right img{
    width: 100%;
}

/*----------------
    MAIN
------------------*/

/*#first-sec{
    height: 700px;
    background-color: beige;
    color: black;
}

#second-sec{
    height: 250px;
    background-color: orange;
    color: black;
}

#third-sec{
    height: 450px;
    background-color: burlywood;
    color: black;
}

#fourth-sec{
    height: 200px;
    background-color: yellowgreen;
    color: black;
}*/

section .container h1{
    padding-top: 100px;
    font-size: 40px;
    padding-bottom: 40px;
}

.row img{
    max-width: 100%;
}

.row h1{
    font-size: 22px;
    line-height: 30px;
}

.row p{
    line-height: 20px;
}

.margin-200 h1{
    padding-bottom: 70px;
}


#hr{
    padding-top: 200px;
}

.flex-check{
    display: flex;
    gap: 40px;
    padding-top: 30px;
    font-size: 15px;
}

input[type=radio] {
    width: 12px;
    height: 12px;
}

.container-plans{
    display: flex;
    padding-top: 50px;
    gap: 50px;
}

.container-plans .header-col{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
    border: 1px solid gray;
    font-size: 16px;
    gap: 10px;
}

.plans-detail{
    width: 100%;
    padding: 30px 25px;
    text-align: left;
}

.border{
    display: flex;
    border-bottom: 1px solid gray;  
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 5px;
}

.container-list ul{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
}

.short-hr{
    width: 20%;
}

.short-hr-footer{
    width: 10%;
}
.bottom-box{
    margin-top: 50px;
    border: 0.5px solid gray;
}

.bottom-box .contentbox{
    padding: 30px;
    padding-bottom: 20px;
}

.contentbox .p-bottom-content{
    font-size: 14px;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-partner{
    display: flex;
    margin: 210px 0;
}

.partner-left{
    width: 60%;
}

.partner-left img{
    width: 100%;
}

.partner-right{
    width: 40%;
    padding: 60px 50px;
    line-height: 25px;
}

.partner-right h2{
    line-height: 35px;
}

.partner-right p{
    line-height: 25px;
}

.partner-right .btn-large{
    background-color: white;
    border: 1px solid ;
}

/*----------------
    FOOTER
------------------*/
footer{
    height: 300px;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.links{
    display: flex;
    gap: 50px;
    flex-direction: row;
}

.strong{
    font-size: 20px;
    margin-bottom: 10px;
}

.font-small{
    font-size: 10px;
}

footer ul li{
    padding: 5px;
}

footer ul{
    margin: 30px;
}
.footer-text{
    display: flex;
    padding: 50px 0;
    color: gray;
    align-items: center;
    
}

.footer-hr{
    width: 90px;
}